html{
  background: rgb(167,191,232);
background: linear-gradient(rgba(167,191,232,1) 48%, rgba(97,144,232,1) 100%);
}
body {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
